<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->

  <ol>
    <li th:each="item : ${Job.tableChoices}" th:text="${employer}"></li>
    <li th:each="item : ${Job.tableChoices}" th:text="${location}"></li>
    <li th:each="item : ${Job.tableChoices}" th:text="${positionType}"></li>
    <li th:each="item : ${Job.tableChoices}" th:text="${coreCompetency}"></li>
  </ol>

</div>

</body>
</html>